/* .bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis, .values {
    font: 11px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
} */

body {
  background-image: url("../data/sea.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  color: azure;
}